---
title: CloudBees Jenkins Operations Center for Pivotal Cloud Foundry&reg;
owner: London Services
---

## <a id="deprecation"></a> Deprecation Notice

As of release 15.11.02.01, CloudBees Jenkins Operations Center is now provided
as part of the [CloudBees Jenkins Platform](https://network.pivotal.io/products/cloudbees) tile. Installation of the CloudBees Jenkins Operations Center tile is no longer necessary. 

## <a id="migrate"></a>  Migrate to the CloudBees Jenkins Platform Tile

To migrate your existing CloudBees Jenkins Operations Center tile content over to the new tile, perform the following steps.

### <a id="export"></a> Step 1: Export current CJOC configuration

1. Log in to a host with access to the Bosh Director.
1. Ensure the current bosh deployment targets the CJOC tile. If it does not, look for the most recent manifest under `/var/tempest/workspaces/default/deployments` and run the following command: 

	<pre class="terminal">$ bosh deployment /var/tempest/workspaces/default/deployments/p-jenkins-oc-xxxx.xml</pre>

1. Use `bosh ssh` to connect to the VM running `jenkins-oc` (should be `jenkins-oc-xxx/0`). The following steps refer to this as `JOB_INDEX`.
1. Switch to root user: 
	<pre class="terminal">$ sudo su</pre>
1. Change directories: `cd /var/vcap/store`
1. Run `zip -y -r -0 /tmp/jenkins-oc.zip jenkins-oc/`.
1. Run the `exit` command.
1. Use `bosh scp` to create a file in the current directory: 
	<pre class="terminal">$ bosh scp $JOB_INDEX --download /tmp/jenkins-oc.zip .</pre>

### <a id="install"></a> Step 2: Remove the CJOC tile and Install the CJP Tile

If you do not remove the CJOC tile, it will try to register the same URL as the CJOC instance in the CJP tile, which will cause problems.

1. Follow the instructions for [deleting products](http://docs.pivotal.io/pivotalcf/1-7/customizing/add-delete.html#del-prod) in Ops Manager.
1. Follow the instructions for installing the [CJP tile](http://docs.pivotal.io/cloudbees/Jenkins.html).

### <a id="import"></a> Step 3: Import Configuration in the CloudBees Jenkins Platform Tile

1. Log in to a host with access to the Bosh Director.
1. Ensure the current bosh deployment targets the CJOC tile. If it does not, look for the most recent manifest under `/var/tempest/workspaces/default/deployments` and run the following command: 

	<pre class="terminal">$ bosh deployment /var/tempest/workspaces/default/deployments/p-jenkins-oc-xxxx.xml</pre>

1. Run `bosh vms` and look for the job index containing `jenkins-oc-`, such as `jenkins-oc-xxx/0`. The following steps refer to this as `JOB_INDEX`.
1. Run `bosh scp $JOB_INDEX --upload jenkins-oc.zip /tmp`.
1. Run `bosh ssh` and select the job named `$JOB_INDEX`.
1. Switch to root user: `sudo su`.
1. Stop the CJOC service: `monit stop jenkins-oc`.
1. Run `cd /var/vcap/store`.
1. Run `mv jenkins-oc jenkins-oc.backup`.
1. Run `unzip -X /tmp/jenkins-oc.zip -d .`
1. Start the CJOC service: `monit start jenkins-oc`.
1. Check that your CJOC data is at http://jenkins-oc-0.yourcfdomain.com.
1. Once you verify that your data appears, you can remove `/var/vcap/store/jenkins-oc.backup` and `/tmp/jenkins-oc.zip`.
